@using GopetHost.Controllers
@model System.Collections.Generic.IEnumerable<UserData>
@{
    ViewData["Title"] = "Tài khoản";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="box">
    <table class="table display nowrap" id="myTable">
        <thead>
        <th title="id">Id</th>
        <th title="username">Tên tài khoản</th>
        <th title="password">Mật khẩu</th>
        <th title="coin">VNĐ</th>
        <th title="phone">Số điện thoại</th>
        <th title="email">Email</th>
        <th title="create_date">Ngày tạo</th>
        <th title="tongnap">Tổng nạp</th>
        <th title="Action">Thao tác</th>
        </thead>
        <tfoot>
        <th title="id">Id</th>
        <th title="username">Tên tài khoản</th>
        <th title="password">Mật khẩu</th>
        <th title="coin">VNĐ</th>
        <th title="phone">Số điện thoại</th>
        <th title="email">Email</th>
        <th title="create_date">Ngày tạo</th>
        <th title="tongnap">Tổng nạp</th>
        <th title="Action">Thao tác</th>
        </tfoot>
    </table>
</div>
<!-- Modal Edit User -->
<div id="modal-edit-user" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h4 class="title is-4">Chỉnh sửa thông tin tài khoản</h4>
            <form id="edit-user-form">
                <div class="field">
                    <label class="label">Tên tài khoản</label>
                    <div class="control">
                        <input class="input" type="text" id="edit-username" placeholder="Tên tài khoản" readonly>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Mật khẩu</label>
                    <div class="control">
                        <input class="input" type="text" id="edit-password" placeholder="Mật khẩu">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input" type="email" id="edit-email" placeholder="Email">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Số điện thoại</label>
                    <div class="control">
                        <input class="input" type="text" id="edit-phone" placeholder="Số điện thoại">
                    </div>
                </div>
                <div class="field">
                    <button type="submit" class="button is-success">Cập nhật</button>
                    <button type="button" class="button is-danger" id="modal-close">Đóng</button>
                </div>
            </form>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>


<div id="modal-edit-coin" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h4 class="title is-4">Chỉnh sửa thông tin tài khoản</h4>
            <form id="edit-user-coin">
                <div class="field">
                    <label class="label">Tên tài khoản</label>
                    <div class="control">
                        <input class="input" type="text" id="edit-username2" placeholder="Tên tài khoản" readonly>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Số tiền cần cộng</label>
                    <div class="control">
                        <input class="input" type="number" id="edit-coin" placeholder="Số tiền">
                    </div>
                </div>
                <div class="field">
                    <button type="submit" class="button is-success">Thao tác</button>
                    <button type="button" class="button is-danger" id="modal-close2">Đóng</button>
                </div>
            </form>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<script>
    var table = new DataTable('#myTable', {
        ajax: {
            url: 'GetUserPage',
            type: 'POST'
        },

        columns: [
            { data: 'id' },
            { data: 'username' },
            { data: 'password' },
            { data: 'coin' },
            { data: 'phone' },
            { data: 'email' },
            { data: 'create_date' },
            { data: 'tongnap' },
            {
                data: 'action',
                render: function (data, type, row) {
                    return '<button  class="button is-danger js-modal-trigger" data-target="modal-edit-user" data-id="' + data + '">Sửa</button>' +
                        '<button  class="button is-link js-modal-coin" data-target="modal-edit-coin" data-id="' + data + '">Cộng tiền</button>';
                }
            }
        ],
        processing: true,
        serverSide: true,
        responsive: true,
        language: {
            processing: "Đang tải dữ liệu...",
            search: "Tìm kiếm:",
            lengthMenu: "Hiển thị _MENU_ mục mỗi trang",
            info: "Hiển thị _START_ đến _END_ trong tổng số _TOTAL_ mục",
            infoEmpty: "Không có dữ liệu",
            infoFiltered: "(lọc từ _MAX_ mục)",
            paginate: {
                first: "Đầu tiên",
                last: "Cuối cùng",
                next: "Tiếp theo",
                previous: "Trước"
            }
        }
    });

    // Mở Modal và lấy dữ liệu người dùng từ API
    $('#myTable').on('click', '.js-modal-trigger', function () {
        var userId = $(this).data('id');

        // Gửi yêu cầu AJAX để lấy thông tin người dùng từ server
        $.ajax({
            url: 'GetUser?id=' + userId,  // Đảm bảo URL này là đúng
            type: 'GET',
            success: function (response) {
                // Điền thông tin vào modal
                $('#edit-username').val(response.username);
                $('#edit-password').val(response.password);
                $('#edit-email').val(response.email);
                $('#edit-phone').val(response.phone);
                $('#modal-edit-user').addClass('is-active');
            },
            error: function (error) {
                console.log('Có lỗi xảy ra', error);
            }
        });
    });


    $('#myTable').on('click', '.js-modal-coin', function () {
        var userId = $(this).data('id');

        // Gửi yêu cầu AJAX để lấy thông tin người dùng từ server
        $.ajax({
            url: 'GetUser?id=' + userId,  // Đảm bảo URL này là đúng
            type: 'GET',
            success: function (response) {
                // Điền thông tin vào modal
                $('#edit-username2').val(response.username);
                //$('#edit-coin').val(response.coin);
                $('#modal-edit-coin').addClass('is-active');
            },
            error: function (error) {
                console.log('Có lỗi xảy ra', error);
            }
        });
    });


    // Đóng modal khi nhấn nút đóng
    $('#modal-close').on('click', function () {
        $('#modal-edit-user').removeClass('is-active');
    });
    $('#modal-close2').on('click', function () {
        $('#modal-edit-coin').removeClass('is-active');
    });
    $('#edit-user-coin').on('submit', function (event) {
        event.preventDefault();
        var updatedUser = {
            username: $('#edit-username2').val(),
            coin: $('#edit-coin').val()
        };

        $.ajax({
            url: 'UpdateCoin',  // Cập nhật URL phù hợp với route cập nhật của bạn
            type: 'POST',
            data: updatedUser,
            success: function (response) {
                table.ajax.reload(); // Tải lại bảng
                $('#modal-edit-coin').removeClass('is-active'); // Đóng modal
            },
            error: function (error) {
                console.log('Có lỗi xảy ra', error);
            }
        });
    });
    $('#edit-user-form').on('submit', function (event) {
        event.preventDefault();

        var updatedUser = {
            username: $('#edit-username').val(),
            password: $('#edit-password').val(),
            email: $('#edit-email').val(),
            phone: $('#edit-phone').val()
        };

        // Gửi dữ liệu qua AJAX (cập nhật thông tin)
        $.ajax({
            url: 'UpdateUser',  // Cập nhật URL phù hợp với route cập nhật của bạn
            type: 'POST',
            data: updatedUser,
            success: function (response) {
                table.ajax.reload(); // Tải lại bảng
                $('#modal-edit-user').removeClass('is-active'); // Đóng modal
            },
            error: function (error) {
                console.log('Có lỗi xảy ra', error);
            }
        });
    });
</script>