@using GopetHost.Controllers
@model System.Collections.Generic.IEnumerable<UserData>
@{
    ViewData["Title"] = "Tài khoản";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="box">
    <table class="table" id="myTable">
        <thead>
        <th title="Id">Id</th>
        <th title="username">Tên tài khoản</th>
        <th title="password">Mật khẩu</th>
        <th title="coin">VNĐ</th>
        <th title="phone">Số điện thoại</th>
        <th title="email">Email</th>
        <th title="create_date">Ngày tạo</th>
        <th title="tongnap">Tổng nạp</th>
        <th title="Action">Thao tác</th>
        </thead>
        <tfoot>
        <th title="Id">Id</th>
        <th title="username">Tên tài khoản</th>
        <th title="password">Mật khẩu</th>
        <th title="coin">VNĐ</th>
        <th title="phone">Số điện thoại</th>
        <th title="email">Email</th>
        <th title="create_date">Ngày tạo</th>
        <th title="tongnap">Tổng nạp</th>
        <th title="Action">Thao tác</th>
        </tfoot>
    </table>
</div>

<script>
    new DataTable('#myTable', {
        ajax: 'GetUserPage',
        columns: [
            { data: 'id' },
            { data: 'username' },
            { data: 'password' },
            { data: 'coin' },
            { data: 'phone' },
            { data: 'email' },
            { data: 'create_date' },
            { data: 'tongnap' },
            { data: 'action' }
        ],
        processing: true,
        serverSide: true,
        language: {
            processing: "Đang tải dữ liệu...",
            search: "Tìm kiếm:",
            lengthMenu: "Hiển thị _MENU_ mục mỗi trang",
            info: "Hiển thị _START_ đến _END_ trong tổng số _TOTAL_ mục",
            infoEmpty: "Không có dữ liệu",
            infoFiltered: "(lọc từ _MAX_ mục)",
            paginate: {
                first: "Đầu tiên",
                last: "Cuối cùng",
                next: "Tiếp theo",
                previous: "Trước"
            }
        }
    });
</script>