@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="box" asp-action="@nameof(GopetHost.Controllers.UserController.PostChangePassword)" asp-controller="User">


    <div class="field">
        <label class="label">Mật khẩu cũ</label>
        <div class="control ">
            <input name="OldPassword" class="input is-warning" type="text" placeholder="Nhập mật khẩu cũ" value="">
        </div>
    </div>

    <div class="field">
        <label class="label">Mật khẩu mới</label>
        <div class="control ">
            <input name="NewPassword" class="input is-danger" type="text" placeholder="Nhập mật khẩu mới" value="">
        </div>
    </div>

    <div class="field">
        <label class="label">Mật khẩu xác nhận</label>
        <div class="control ">
            <input name="NewRePassword" class="input is-danger" type="text" placeholder="Nhập mật khẩu xác nhận" value="">
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link">Đổi ngay</button>
        </div>
    </div>
</form>
