
@{
    ViewData["Title"] = "Tải game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="grid">
    <div class="container box cell">
        <header>
            <h3 class="title is-5">Phiên bản JAR</h3>
        </header>
        <main>
            Phiên bản được dựng lại từ đầu thích hợp chạy trên các giả lập 
            <span class="tag is-success is-light">MicroEmulator</span>, 
            <span class="tag is-success is-light">KEmulator</span>,
            <span class="tag is-success is-light"> J2MELoader</span>. 
            Nếu bạn đang dùng thiết bị Android thì khuyến cáo bạn tải bản 
            <span class="tag is-danger is-light">APK</span>
        </main>
        <br />
        <footer>
            <a class="button is-white" href="~/Upload/Game/JAR/goPet141.jar">Tải về</a>
            
        </footer>
    </div>
    <div class="container box cell">
        <header>
            <h3 class="title is-5">Phiên bản Android</h3>
        </header>
        <main>
            Phiên bản được dựng lại từ đầu thích hợp chạy trên các máy từ Android 4.2. <br />
            Đầy đủ tính năng như phiện bản JAR
        </main>
        <br />
        <footer>
            <a class="button is-warning" href="~/Upload/Game/APK/goPet141.apk">Tải về</a>
        </footer>
    </div>
    <div class="container box cell">
        <header>
            <h3 class="title is-5">Phiên bản IOS</h3>
        </header>
        <main>
            Phiên bản được dựng lại từ đầu thích hợp chạy trên các máy từ IOS 11. <br />
            Đầy đủ tính năng như phiện bản JAR. <br />
            Tuy nhiên với một số dòng máy sẽ có sự cố tuột <span class="tag is-danger is-light">FPS</span> khi người chơi đăng nhập hoặc đánh boss với các khu đông. <br />
            Nguyên nhân có liên quan đến <span class="tag is-primary is-light">phần cứng</span> thiết bị.
        </main>
        <br />
        <footer>
            <a class="is-info is-light" href="https://testflight.apple.com/join/MuN4kNyw">Truy cập TestFlight</a>
        </footer>
    </div>
    <div class="container box cell">
        <header>
            <h3 class="title is-5">Phiên bản Desktop</h3>
        </header>
        <main>
            Phiên bản được dựng lại từ đầu thích hợp chạy trên các máy Windows, Linux, MacOS
            Đầy đủ tính năng như phiện bản JAR.
        </main>
        <br />
        <footer>
            <a class="button is-success is-ligh" href="">Chưa Build</a>
        </footer>
    </div>
</div>