<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<gcServer enabled="true"/>
		<GCHeapCount>0xc</GCHeapCount>
	</runtime>
	<connectionStrings>
		<add connectionString="SERVER=127.0.0.1;Port=3306;DATABASE=gopettae_tae2;UID=root;PASSWORD=;CharSet=utf8;" name="GameConnectString" />
		<add connectionString="SERVER=160.30.160.83;Port=19999;DATABASE=gopet_tae;UID=TaeAdmin;PASSWORD=4uC3C2wItI8ew4L6KoYEhezaliyoDa;CharSet=utf8;" name="TaeGameConnectString" />
		<add connectionString="SERVER=127.0.0.1;Port=3306;DATABASE=gp_log;UID=root;PASSWORD=;CharSet=utf8;" name="LogConnectString" />
		<add connectionString="SERVER=127.0.0.1;Port=3306;DATABASE=gopettae_gopet_web;UID=root;PASSWORD=;CharSet=utf8;" name="WebConnectString" />
	</connectionStrings>
</configuration>